<web-app>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
<!--sender login-->
	<servlet>
<servlet-name>emplogin</servlet-name>
<servlet-class>emplogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>emplogin</servlet-name>
<url-pattern>/emplogin</url-pattern>
</servlet-mapping>
<!--Encryption process-->
<servlet>
<servlet-name>senddata</servlet-name>
<servlet-class>senddata</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>senddata</servlet-name>
<url-pattern>/senddata</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>viewhistory</servlet-name>
<servlet-class>viewhistory</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>viewhistory</servlet-name>
<url-pattern>/viewhistory</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>viewmessage</servlet-name>
<servlet-class>viewmessage</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>viewmessage</servlet-name>
<url-pattern>/viewmessage</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>receiverlogin</servlet-name>
<servlet-class>receiverlogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>receiverlogin</servlet-name>
<url-pattern>/receiverlogin</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>createuseraccount</servlet-name>
<servlet-class>createuseraccount</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>createuseraccount</servlet-name>
<url-pattern>/createuseraccount</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>viewrequest</servlet-name>
<servlet-class>viewrequest</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>viewrequest</servlet-name>
<url-pattern>/viewrequest</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>processleave</servlet-name>
<servlet-class>processleave</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>processleave</servlet-name>
<url-pattern>/processleave/*</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>Inverse</servlet-name>
<servlet-class>Inverse</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Inverse</servlet-name>
<url-pattern>/Inverse</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>cancelleaveservlet</servlet-name>
<servlet-class>cancelleaveservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>cancelleaveservlet</servlet-name>
<url-pattern>/cancelleaveservlet/*</url-pattern>
</servlet-mapping>




</web-app>